.WEB{
  background-image: linear-gradient(to right,rgb(70, 66, 66), white);
   height: 900px;
   width: 100%;
   
   
}

.ab{
   display: inline-block;
}
.ab h3{
   margin-left: 10px;
   background-color: black;
   width: fit-content;
   color: rgba(247, 251, 246, 0.886);
   padding: 3px 10px;
   border-top: 1px solid rgb(243, 246, 243);
   border-bottom: 1px solid rgb(242, 247, 241);
   border-top-right-radius: 8px;
   border-bottom-left-radius: 8px;
   font-style: italic;
   transition-property: all;
    transition-duration: 1s;
   cursor: default;

}
.WEB h3:hover{

   color:black;
   background-image: linear-gradient(to right, orangered,white);
   border-top: 1px solid orangered;
   border-bottom: 1px solid orangered;
   transform: scale(1.1);
    box-shadow: 2px 2px 3px 3px rgb(23, 22, 22);
}
.Bb{
   margin-left: 100px;
  display: inline-block;
}
.Bb li {
   float: left;
   list-style: none;
   margin: 0px 20px;
   font-size: 18px;
   transition-property: all;
  transition-duration: 0.7s;
   padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.008);
   border-radius: 2px;
   cursor: pointer;
   
}
.Bb li:hover {
           transform: scale(1.1);
           background-image: linear-gradient( 135deg , rgb(225, 98, 225) 40%,rgb(44, 225, 238));
           box-shadow: 2px 2px 3px 3px rgb(23, 22, 22);
           border: 1px solid rgb(171, 159, 159);
       }
.Bb li a{
   text-decoration: none;
   color: rgb(0, 0, 0);
}


.Cc{
   margin-left: 100px;
   display: inline-block;
}
.Cc button {
background-color: black;
padding: 8px 15px;
border: 1px solid rgb(255, 255, 255);
margin: 12px 0px 0px 10px;
border-radius: 20px;
font-size: 14px;
cursor: pointer;
transition-property: all;
transition-duration: 0.8s;
}
.Cc button a{
   color: white;
   text-decoration: none;
}
.Cc button:hover{
   background-image: linear-gradient(to right, purple,white);
           border: 1px solid black;
           transform: scale(1.1);
           box-shadow: 2px 2px 5px 5px rgb(10, 9, 9);
   
}
.Cc button a:hover{
   color:rgb(5, 5, 5);
  
}    


.A{
   
   margin: 0px 0px 0px 150px;
}
.A h2:hover{
   color: white;
   transform: scale(1.1);
   box-shadow: 3px 3px 5px 5px black;
   background-image: linear-gradient(to right,rgb(18, 17, 17),rgb(145, 236, 55));


}
.A h2{
   font-size: 35px;
   transition-property: all;
   transition-duration: 0.6s;
   width: fit-content;
   padding: 5px 20px;
   cursor: default;
}
h1{
   font-size: 50px;
  text-align: center;
  transition-property: all;
  transition-duration: 0.6s;
  width: fit-content;
  padding: 0px 20px;
  margin-left: 400px;
  cursor: default;
}
h1:hover{
   background-image: linear-gradient(to right,green,rgb(220, 211, 211));
   transform: scale(1.1);
   box-shadow: 2px 2px 3px 3px black;
   color: rgb(255, 255, 255);
   border: 1px solid black;
}

form label{
   font-size: 27px;
   transition-property: all;
   transition-duration: 0.6s;
   width: fit-content;
   padding: 0px 20px;
   cursor: default;

}
form label:hover{
   color: white;
   transform: scale(1.1);
   box-shadow: 3px 3px 5px 5px black;
   background-image: linear-gradient(to right,rgb(18, 17, 17),rgb(145, 236, 55));
}
form input{
     margin-top: 10px;
     margin-left: 20px;
   padding: 10px 120px 10px 5px;
   transition-property: all;
   
   
}

.m{
   padding: 10px 30px 10px 5px;
   transition-property: all;

}
.m:hover{
   box-shadow: 2px 2px 3px 3px black;
}
.x{
   padding: 9px 25px;
   background-color: black;
   color: white;
   border: 1px solid rgb(0, 0, 0);
   transition-property: all;
   transition-duration: 0.6s;
   cursor: pointer;
}
.x:hover{
   background-image: linear-gradient(green,white);
   transform: scale(1.1);
   box-shadow: 2px 2px 3px 3px black;
   color: black;
   border: 1px solid black;
}
.Y{
   display: flex;
}
.Z img{
   height: 350px;
   width: 500px;
   margin: 80px 0px 0px 250px;
   transition-property: all;
   transition-duration: 0.7s;
}
.Z img:hover{
   border: 1px solid rgb(39, 38, 37);
   transform: scale(1.1);
   box-shadow: 3px 3px 5px 5px black;
}
.H{
   background-color: black;
   height: 100px;
   width: 1340px;
   text-align: center;
   color: white;
   display: inline-block;
   
   
   
}
.H p{
   margin-top: 20px;
   line-height: 2em;
}
.H p:hover{
   color: orangered;
}